@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url("../fonts/text/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/text/SFProDisplay-Regular.otf") format("opentype"), url("../fonts/text/SFProDisplay-Regular.woff") format("woff"), url("../fonts/text/SFProDisplay-Regular.ttf") format("truetype"), url("../fonts/text/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url("../fonts/text/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/text/SFProDisplay-Semibold.otf") format("opentype"), url("../fonts/text/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/text/SFProDisplay-Semibold.ttf") format("truetype"), url("../fonts/text/SFProDisplay-Semibold.svg#SFProDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFProText-Regular';
  src: url("../fonts/text/SFProText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/text/SFProText-Regular.otf") format("opentype"), url("../fonts/text/SFProText-Regular.woff") format("woff"), url("../fonts/text/SFProText-Regular.ttf") format("truetype"), url("../fonts/text/SFProText-Regular.svg#SFProDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

.c-alert--book-now {
  width: 100%;
  height: 56px;
  border: 1px solid #DEE3ED;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative; }
  .c-alert--book-now .c-alert__text {
    padding-left: 25px;
    font-size: 16px;
    font-family: 'SFProText-Regular';
    color: #000000; }
  .c-alert--book-now .c-alert__icon--left {
    width: 35px;
    height: 32px; }
    .c-alert--book-now .c-alert__icon--left span {
      padding-left: 12px;
      font-size: 32px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .c-alert--book-now .c-alert__icon--right {
    width: 14px;
    height: 14px;
    margin-right: 16px;
    position: absolute;
    right: 0px; }
    .c-alert--book-now .c-alert__icon--right span {
      font-size: 12px; }

.c-product {
  border: 1px solid #DEE3ED;
  border-radius: 4px;
  background: white; }
  .c-product__logo-image {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 27px;
    margin-top: 10px;
    margin-right: 8px; }
    .c-product__logo-image span {
      font-size: 28px;
      color: white; }
    .c-product__logo-image .luxicon-heart-fill {
      font-size: 24px;
      position: relative;
      top: -28px;
      color: red;
      left: 2px;
      display: none; }
  .c-product__logo-image.active .luxicon-heart-fill {
    display: block; }
  .c-product__image {
    width: 287px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 4px; }
    .c-product__image img {
      width: 100%; }
  .c-product__info {
    height: 100%;
    font-family: 'SFProText-Regular';
    position: relative; }
    .c-product__info:after {
      position: absolute;
      content: '';
      width: 1px;
      background-color: #DEE3ED;
      height: calc(100% - 8px);
      top: 4px;
      right: 0px; }
  .c-product__location {
    font-size: 11px !important;
    line-height: 13px; }
  .c-product__volume {
    font-size: 14px !important;
    line-height: 16px;
    padding-top: 9px; }
    .c-product__volume span:after {
      content: '.';
      padding-left: 3px;
      padding-right: 3px;
      position: relative;
      top: -4px;
      left: 2px; }
    .c-product__volume span:last-child:after {
      content: ''; }
  .c-product__title {
    font-size: 16px !important;
    line-height: 19px;
    padding-top: 9px; }
  .c-product__sale {
    height: 100%;
    position: relative; }
  .c-product__services {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 11px;
    line-height: 13px; }
    .c-product__services .luxicon-card-del {
      position: relative;
      top: 2px; }
  .c-product__rating {
    display: flex;
    flex-direction: row; }
    .c-product__rating li span {
      color: #F4511E; }
  .c-product__free {
    padding-left: 9px; }
  .c-product__coupon {
    border-radius: 4px;
    border: 1px dashed #DEE3ED;
    padding: 2px 5px 9px 5px; }
  .c-product__old-price {
    font-size: 14px;
    line-height: 17px;
    color: #979797;
    padding-top: 9px;
    margin: 0px; }
  .c-product__new-price {
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
    padding-top: 3px;
    margin: 0px;
    font-family: 'SFProText-Regular'; }
  .c-product--vertical {
    width: 287px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding-bottom: 15px;
    position: relative; }
    .c-product--vertical:after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background-color: white;
      left: calc(50% - 5px);
      bottom: -5px;
      transform-origin: center;
      transform: rotate(45deg); }
    .c-product--vertical .c-product__service-and-rate {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-right: 15px;
      padding-top: 5px; }
    .c-product--vertical .c-product__info {
      width: 100%;
      padding: 8px 8px 0px 8px; }
    .c-product--vertical .c-product__sale {
      width: 100%;
      padding-left: 8px;
      padding-top: 8px; }
    .c-product--vertical .c-product__new-price {
      color: #444953;
      font-weight: unset; }
    .c-product--vertical .c-product__ticket {
      position: absolute;
      bottom: -31px;
      width: 100%;
      left: 0px;
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
  .c-product--horizol {
    height: 191px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 16px; }
    .c-product--horizol .c-product__info {
      width: 411px;
      padding-top: 16px;
      padding-left: 16px; }
    .c-product--horizol .c-product__sale {
      width: calc(100% - 698px);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      padding-right: 15px; }
    .c-product--horizol .c-product__services {
      padding-top: 9px; }
    .c-product--horizol .c-product__coupon {
      position: absolute;
      bottom: 12px;
      right: 15px; }
    .c-product--horizol .c-product__ticket {
      padding-top: 12px; }
    .c-product--horizol .c-product__rating {
      padding-top: 4px; }

.c-ticket {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  background: #FF0037;
  display: inline-block; }
  .c-ticket__text {
    font-size: 12px;
    line-height: 14px;
    font-family: 'SFProText-Regular';
    color: white;
    font-weight: bold; }
  .c-ticket--map {
    background-color: #F4511E;
    position: relative; }
  .c-ticket--caret-bottom {
    position: relative; }
    .c-ticket--caret-bottom:before {
      position: absolute;
      bottom: -3px;
      content: '';
      width: 6px;
      height: 6px;
      background: #F4511E;
      right: calc(50% - 3px);
      transform-origin: center;
      transform: rotate(45deg); }

.c-list li a {
  text-decoration: none;
  color: inherit !important; }
  .c-list li a:hover {
    cursor: pointer; }

.c-coupon__price {
  margin: 0px;
  font-size: 17px;
  line-height: 20px;
  color: #F4511E;
  font-family: 'SFProText-Regular';
  text-align: right;
  font-weight: bold; }

.c-coupon__text {
  font-size: 12px;
  line-height: 14px;
  font-family: 'SFProText-Regular'; }

.c-map {
  width: 100% !important;
  height: 768px !important; }

.c-map-picker {
  position: absolute;
  top: 200px;
  left: 100px; }
  .c-map-picker a {
    text-decoration: none;
    color: inherit !important; }
    .c-map-picker a:hover {
      cursor: pointer; }

.cs-container {
  width: 1523px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.list-map-left {
  width: 888px;
  height: 100px; }

.list-map-right {
  width: calc(100% - 908px);
  height: 100px;
  position: relative; }

@font-face {
  font-family: 'luxicon';
  src: url("../fonts/icons/ecomoon/luxicon.eot?yezhgd");
  src: url("../fonts/icons/ecomoon/luxicon.eot?yezhgd#iefix") format("embedded-opentype"), url("../fonts/icons/ecomoon/luxicon.ttf?yezhgd") format("truetype"), url("../fonts/icons/ecomoon/luxicon.woff?yezhgd") format("woff"), url("../fonts/icons/ecomoon/luxicon.svg?yezhgd#luxicon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="luxicon-"] {
  font-family: "luxicon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class*=" luxicon-"] {
  font-family: "luxicon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.luxicon-star:before {
  content: "\e934"; }

.luxicon-air:before {
  content: "\e900"; }

.luxicon-arrow-down:before {
  content: "\e901"; }

.luxicon-arrow-down-long:before {
  content: "\e902"; }

.luxicon-arrow-left:before {
  content: "\e903"; }

.luxicon-arrow-left-long:before {
  content: "\e904"; }

.luxicon-arrow-right:before {
  content: "\e905"; }

.luxicon-arrow-right-long:before {
  content: "\e906"; }

.luxicon-arrow-up:before {
  content: "\e907"; }

.luxicon-arrow-up-long:before {
  content: "\e908"; }

.luxicon-bathroom:before {
  content: "\e909";
  color: #444953; }

.luxicon-bbq:before {
  content: "\e90a"; }

.luxicon-bed:before {
  content: "\e90b";
  color: #444953; }

.luxicon-bed-room:before {
  content: "\e90c";
  color: #444953; }

.luxicon-card-del:before {
  content: "\e90d"; }

.luxicon-check-circle:before {
  content: "\e90e"; }

.luxicon-check-tag:before {
  content: "\e90f"; }

.luxicon-clock:before {
  content: "\e910"; }

.luxicon-close:before {
  content: "\e911";
  color: #444953; }

.luxicon-close-circle:before {
  content: "\e912"; }

.luxicon-close-line:before {
  content: "\e913";
  color: #444953; }

.luxicon-close-thin:before {
  content: "\e914"; }

.luxicon-customer:before {
  content: "\e915";
  color: #444953; }

.luxicon-entering-door:before {
  content: "\e916"; }

.luxicon-follow-google-plus-fill:before {
  content: "\e917"; }

.luxicon-follow-instagram-fill:before {
  content: "\e918"; }

.luxicon-follow-linkedin-fill:before {
  content: "\e919"; }

.luxicon-follow-pinterest-fill:before {
  content: "\e91a"; }

.luxicon-follow-twitter-fill:before {
  content: "\e91b"; }

.luxicon-follow-youtube-fill:before {
  content: "\e91c"; }

.luxicon-hairdryer:before {
  content: "\e91d"; }

.luxicon-heart:before {
  content: "\e91e"; }

.luxicon-heart-fill:before {
  content: "\e91f"; }

.luxicon-home:before {
  content: "\e920"; }

.luxicon-home-wifi:before {
  content: "\e921"; }

.luxicon-lightning:before {
  content: "\e922"; }

.luxicon-location:before {
  content: "\e923";
  color: #444953; }

.luxicon-location-line:before {
  content: "\e924"; }

.luxicon-mail-line:before {
  content: "\e925"; }

.luxicon-moon-thin:before {
  content: "\e926";
  color: #444953; }

.luxicon-office-2:before {
  content: "\e927"; }

.luxicon-people:before {
  content: "\e928"; }

.luxicon-phone-line:before {
  content: "\e929"; }

.luxicon-question-fill:before {
  content: "\e92a";
  color: #444953; }

.luxicon-search:before {
  content: "\e92b"; }

.luxicon-shampoo:before {
  content: "\e92c"; }

.luxicon-shape:before {
  content: "\e92d"; }

.luxicon-shower:before {
  content: "\e92e"; }

.luxicon-stove-electric:before {
  content: "\e92f"; }

.luxicon-toothpaste:before {
  content: "\e930"; }

.luxicon-towel:before {
  content: "\e931"; }

.luxicon-tv:before {
  content: "\e932"; }

.luxicon-users:before {
  content: "\e933"; }
