@font-face {
  font-family: 'luxicon';
  src:  url('fonts/luxicon.eot?90d2c7');
  src:  url('fonts/luxicon.eot?90d2c7#iefix') format('embedded-opentype'),
    url('fonts/luxicon.ttf?90d2c7') format('truetype'),
    url('fonts/luxicon.woff?90d2c7') format('woff'),
    url('fonts/luxicon.svg?90d2c7#luxicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="luxicon-"], [class*=" luxicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'luxicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.luxicon-star:before {
  content: "\e934";
}
.luxicon-air:before {
  content: "\e900";
}
.luxicon-arrow-down:before {
  content: "\e901";
}
.luxicon-arrow-down-long:before {
  content: "\e902";
}
.luxicon-arrow-left:before {
  content: "\e903";
}
.luxicon-arrow-left-long:before {
  content: "\e904";
}
.luxicon-arrow-right:before {
  content: "\e905";
}
.luxicon-arrow-right-long:before {
  content: "\e906";
}
.luxicon-arrow-up:before {
  content: "\e907";
}
.luxicon-arrow-up-long:before {
  content: "\e908";
}
.luxicon-bathroom:before {
  content: "\e909";
  color: #444953;
}
.luxicon-bbq:before {
  content: "\e90a";
}
.luxicon-bed:before {
  content: "\e90b";
  color: #444953;
}
.luxicon-bed-room:before {
  content: "\e90c";
  color: #444953;
}
.luxicon-card-del:before {
  content: "\e90d";
}
.luxicon-check-circle:before {
  content: "\e90e";
}
.luxicon-check-tag:before {
  content: "\e90f";
}
.luxicon-clock:before {
  content: "\e910";
}
.luxicon-close:before {
  content: "\e911";
  color: #444953;
}
.luxicon-close-circle:before {
  content: "\e912";
}
.luxicon-close-line:before {
  content: "\e913";
  color: #444953;
}
.luxicon-close-thin:before {
  content: "\e914";
}
.luxicon-customer:before {
  content: "\e915";
  color: #444953;
}
.luxicon-entering-door:before {
  content: "\e916";
}
.luxicon-follow-google-plus-fill:before {
  content: "\e917";
}
.luxicon-follow-instagram-fill:before {
  content: "\e918";
}
.luxicon-follow-linkedin-fill:before {
  content: "\e919";
}
.luxicon-follow-pinterest-fill:before {
  content: "\e91a";
}
.luxicon-follow-twitter-fill:before {
  content: "\e91b";
}
.luxicon-follow-youtube-fill:before {
  content: "\e91c";
}
.luxicon-hairdryer:before {
  content: "\e91d";
}
.luxicon-heart:before {
  content: "\e91e";
}
.luxicon-heart-fill:before {
  content: "\e91f";
}
.luxicon-home:before {
  content: "\e920";
}
.luxicon-home-wifi:before {
  content: "\e921";
}
.luxicon-lightning:before {
  content: "\e922";
}
.luxicon-location:before {
  content: "\e923";
  color: #444953;
}
.luxicon-location-line:before {
  content: "\e924";
}
.luxicon-mail-line:before {
  content: "\e925";
}
.luxicon-moon-thin:before {
  content: "\e926";
  color: #444953;
}
.luxicon-office-2:before {
  content: "\e927";
}
.luxicon-people:before {
  content: "\e928";
}
.luxicon-phone-line:before {
  content: "\e929";
}
.luxicon-question-fill:before {
  content: "\e92a";
  color: #444953;
}
.luxicon-search:before {
  content: "\e92b";
}
.luxicon-shampoo:before {
  content: "\e92c";
}
.luxicon-shape:before {
  content: "\e92d";
}
.luxicon-shower:before {
  content: "\e92e";
}
.luxicon-stove-electric:before {
  content: "\e92f";
}
.luxicon-toothpaste:before {
  content: "\e930";
}
.luxicon-towel:before {
  content: "\e931";
}
.luxicon-tv:before {
  content: "\e932";
}
.luxicon-users:before {
  content: "\e933";
}
