.cs-container {
	width: 1523px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.list-map-left {
	width: 888px;
	height: 100px;

}


.list-map-right {
	width: calc(100% - 908px);
	height: 100px;
	position: relative;
}