.c-alert {
	$p: '.c-alert';
	&--book-now {
		width: 100%;
		height: 56px;
		border: 1px solid #DEE3ED;
		border-radius: 4px;
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-start;
	    align-items: center;
    	position: relative;
		
		#{$p}__text {
			padding-left: 25px;
			font-size: 16px;
			font-family: 'SFProText-Regular';
			color: #000000;
		}

		#{$p}__icon {
			&--left {
				width: 35px;
				height: 32px;

				span {
					padding-left: 12px;
					font-size: 32px;
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}

			&--right {
				width: 14px;
				height: 14px;
				margin-right: 16px;
			    position: absolute;
			    right: 0px;

				span {
					font-size: 12px;
				}
			}
		}
	}
}