.c-coupon {
	&__price {
		margin: 0px;
		font-size: 17px;
		line-height: 20px;
		color: #F4511E;
		font-family: 'SFProText-Regular';
		text-align: right;
		font-weight: bold;
	}

	&__text {
		font-size: 12px;
		line-height: 14px;
		font-family: 'SFProText-Regular';
	}
}