.c-product {
	$p: '.c-product';

	border: 1px solid #DEE3ED;
	border-radius: 4px;
	background: white;

    &__logo-image {
    	position: absolute;
    	top: 0px;
    	right: 0px;
    	width: 30px;
    	height: 27px;
    	margin-top: 10px;
    	margin-right: 8px;
    	span {
    		font-size: 28px;
    		color: white;
    	}

    	.luxicon-heart-fill {
			font-size: 24px;
			position: relative;
			top: -28px;
			color: red;
			left: 2px;
			display: none;
    	}
    }

    &__logo-image.active {
    	.luxicon-heart-fill {
			display: block
    	}
    }

    &__image {
    	width: 287px;
    	height: 100%;
    	position: relative;
    	overflow: hidden;
    	border-radius: 4px;
    	img {
    		width: 100%;
    	}
    }

    &__info {
    	height: 100%;
    	font-family: 'SFProText-Regular';
    	position: relative;

    	&:after {
    		position: absolute;
    		content: '';
    		width: 1px;
    		background-color: #DEE3ED;
    		height: calc(100% - 8px);
    		top: 4px;
    		right: 0px;
    	}

    }	

    &__location {
		font-size: 11px !important;
		line-height: 13px;
    }	 

    &__volume {
		font-size: 14px !important;
		line-height: 16px;
		padding-top: 9px;

		span {
			&:after {
			    content: '.';
			    padding-left: 3px;
			    padding-right: 3px;
			    position: relative;
			    top: -4px;
			    left: 2px;
			}
		}

		span:last-child {
			&:after {
				content: '';
			}
		}
    }	


    &__title {
		font-size: 16px !important;
		line-height: 19px;
		padding-top: 9px;
    }	

    &__sale {
    	height: 100%;
    	position: relative;
    }

    &__services {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		font-size: 11px;
		line-height: 13px;

		.luxicon-card-del {
			position: relative;
			top: 2px;
		}
    }

    &__rating {
    	display: flex;
    	flex-direction: row;
    	li {
    		span {
    			color: #F4511E;
    		}
    	}
    }

    &__free {
    	padding-left: 9px;
    }	    

    &__coupon {
    	border-radius: 4px;
    	border: 1px dashed #DEE3ED;
    	padding: 2px 5px 9px 5px;
    }

    &__old-price {
    	font-size: 14px;
    	line-height: 17px;
    	color: #979797;
    	padding-top: 9px;
    	margin: 0px;
    }

    &__new-price {
    	font-size: 17px;
    	line-height: 20px;
    	color: #000000;
    	font-weight: bold;
    	padding-top: 3px;
    	margin: 0px;
    	font-family: 'SFProText-Regular';
    }

	&--vertical {
		width: 287px;
		display: flex;
	    flex-direction: column;
	    border-radius: 4px;
	    padding-bottom: 15px;
		position: relative;

	    &:after {
			position: absolute;
			content: '';
			width: 10px;
			height: 10px;
			background-color: white;
			left: calc(50% - 5px);
			bottom: -5px;
			transform-origin: center;
			transform: rotate(45deg);
	    }

	    #{$p}__service-and-rate {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-right: 15px;
			padding-top: 5px;
	    }

	    #{$p}__info {
	    	width: 100%;
	    	padding: 8px 8px 0px 8px;
	    }	

	    #{$p}__sale {
	    	width: 100%;
	    	padding-left: 8px;
	    	padding-top: 8px;
	    }

	    #{$p}__new-price {
			color: #444953;
			font-weight: unset;
	    }

	    #{$p}__ticket {
			position: absolute;
			bottom: -31px;
		    width: 100%;
		    left: 0px;
		    position: absolute;
		    display: flex;
		    flex-direction: row;
		    justify-content: center;
		    align-items: center;
	    }
	}

	&--horizol {
		height: 191px;
		display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center;
	    margin-top: 16px;

	    #{$p}__info {
	    	width: 411px;
	    	padding-top: 16px;
	    	padding-left: 16px;
	    }	
  
	    #{$p}__sale {
	    	width: calc(100% - 698px);
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-end;
			padding-right: 15px;
	    }

	    #{$p}__services {
			padding-top: 9px;
	    } 

	    #{$p}__coupon {
	    	position: absolute;
	    	bottom: 12px;
	    	right: 15px;
	    }

	    #{$p}__ticket {
			padding-top: 12px;
	    }

	    #{$p}__rating {
			    padding-top: 4px;
	    }
	}
}