.c-ticket {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 4px;
	background: #FF0037;
	display: inline-block;

	&__text {
		font-size: 12px;
		line-height: 14px;
		font-family: 'SFProText-Regular';
		color: white;
		font-weight: bold;
	}	

	&--map {
		background-color: #F4511E;
		position: relative;
	}

	&--caret-bottom {
		position: relative;

		&:before {
		    position: absolute;
		    bottom: -3px;
		    content: '';
		    width: 6px;
		    height: 6px;
		    background: #F4511E;
		    right: calc(50% - 3px);
		    transform-origin: center;
		    transform: rotate(45deg);
		}
	}
}