$text-font-path: '../fonts/text/';

@font-face {
  font-family: 'SFProDisplay-Regular';
	src: url('#{$text-font-path}SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
	url('#{$text-font-path}SFProDisplay-Regular.otf')  format('opentype'),
	url('#{$text-font-path}SFProDisplay-Regular.woff') format('woff'),
	url('#{$text-font-path}SFProDisplay-Regular.ttf')  format('truetype'),
	url('#{$text-font-path}SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Bold';
	src: url('#{$text-font-path}SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
	url('#{$text-font-path}SFProDisplay-Semibold.otf')  format('opentype'),
	url('#{$text-font-path}SFProDisplay-Semibold.woff') format('woff'),
	url('#{$text-font-path}SFProDisplay-Semibold.ttf')  format('truetype'),
	url('#{$text-font-path}SFProDisplay-Semibold.svg#SFProDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFProText-Regular';
	src: url('#{$text-font-path}SFProText-Regular.eot?#iefix') format('embedded-opentype'),
	url('#{$text-font-path}SFProText-Regular.otf')  format('opentype'),
	url('#{$text-font-path}SFProText-Regular.woff') format('woff'),
	url('#{$text-font-path}SFProText-Regular.ttf')  format('truetype'),
	url('#{$text-font-path}SFProText-Regular.svg#SFProDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
